body {
    padding: 0;
    margin: 0;
    width: 100%;
}

.table2 {
    border-spacing: 0px 20px; 
}

.box1 {
    text-align: center;
    background-color: darkred;
}

.box2 {
    text-align: center;
    background-color: deeppink;
}

.box3 {
    text-align: center;
    background-color: brown;
}

.box_text_color {
    color: white;
    padding: 10px;
    margin: 0;
}

.box_text_color a{
    color: inherit;
    padding: inherit;
}

.td_image_cell {
    width: 570px;
}

.td_image_cell img {
    width: 100%;
    height: 100%;
    display: block;
}

p {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    color: darkgray;
    padding: 10px;
}
