.container{  
    display: flex;
    flex-direction: row;
}
 
.item {
    flex: 1;

    padding: 20px;
    margin: 5px;
    background-color: lightblue;
    border: 1px solid darkblue;
    text-align: center;
}
.item img {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 10px;
}

.navbar-container {
  display: flexbox;
  flex-direction: row;
  background-color: #333;
  padding: 15px
}
.navbar-item {
  flex: 1;

  display: inline;
  padding: 10px;
  background-color: #333;
  border-radius: 5px;
  color: #ffffff;
  text-decoration: none;
}
.navbar-item a {
  color: #ffffff;
  text-decoration: none;
}
.navbar-item:hover {
  background-color: #BCBABA;
}
.dropdown-container {
  display: none;
  flex-direction: column;
}
.dropdown-container a {
  color: #000000;
}
.navbar-item:hover .dropdown-container {
  display: flex;
  position: absolute;
  margin: 10px;
}
.dropdown-item {
  width: 150px;
  border: 1px solid #F0F0F0;
  padding: 10px;
  background-color: #ffffff;
  text-decoration: none;
}
